.DS_Store
Documents/Firsts_RC_mai_2023
Documents/transcriptions_analyses_mai_2023
Documents/Seconds_RC_mai_2023
Documents/CS_CCNA_features.xlsx
Documents/CCNA_Participants+Dx.xlsx
venv
requi_ancien.txt
test.py